{% extends 'base.html' %}

{% block title %}Post Detail{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
{% if post.tags %}
<p><b>Tags:</b>
    {% for tag in post.tags %}
    <a href="/tags/{{ tag.id }}"><i class="badge badge-primary">{{ tag.name }}</i></a>
    {% endfor %}
</p>
{% endif %}
<p>Posted on: {{ post.formatted_date }}</p>

<div class="d-flex mb-4">
    <a href="/posts/{{ post.id }}/edit" class="btn btn-info mr-1">Edit Post</a>
    <form method="POST" action="/posts/{{ post.id }}/delete">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
<a href="/users/{{ post.user_id}}" class="btn btn-secondary">Back to User</a>

{% endblock %}