<!-- Show clicked user's details -->

{% extends "base.html" %}

{% block title %}{{ user.full_name }}{% endblock %}

{% block content %}

<div class="d-flex align-items-start">
    <img src="{{ user.image_url }}" width="200" class="me-3">
    <div class="mt-5">
        <h1>{{ user.full_name }}</h1>
        <div>
            <a href="/users/{{ user.id }}/edit" class="btn btn-secondary">Edit</a>
            <form action="/users/{{ user.id }}/delete" method="POST" class="d-inline-block ms-2">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
<!--Posts list-->
<h2>Posts</h2>
<ul>
    {% for post in user.posts %}
    <li>
        <a href="/posts/{{ post.id }}">{{ post.title }}</a>
    </li>
    {% else %}
    <li>
        <italic>No Posts Yet</italic>
    </li>
    {% endfor %}
</ul>
<a href="/users/{{ user.id }}/posts/new" class="btn btn-primary">Add Post</a>
<a href="/users" class="btn btn-secondary">Back to All Users</a>
{% endblock %}